# venv 
myvenv/
# .vscode
.vscode/
# __pycache__
__pycache__
# migrations
migrations
# .sqlite
*.sqlite
# form/static/image
form/static/image
# sns_application/flaskr/static/user_image
sns_application/flaskr/static/user_image/*.jpg